<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inkvent.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>

<body>
    <nav class="navbar">
        <div class="nav-center"><a href="{{url_for('get_all_articles')}}">inkvent.</a></div>
        <div class="nav-right"><a href="{{url_for('about')}}">about us</a></div>
    </nav>

    <!-- List all articles -->
    <div class="articles">
        {% for article in all_articles %}
        <div class="article-preview" style="background-image: url('{{article.img_url}}')">
            <a href="{{ url_for('show_article', index=article.id) }}">
                <h2 class="article-title"> {{article.title}} </h2>
                <p class="article-subtitle"> {{article.subtitle}} </p>
                <div class="metadata-container">
                    <p class="date"> {{article.date}} </p>
                    <p class="author"> {{article.author}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>


</body>

</html>