body {
    background-color: #000000;
    color: #fff;
    font-family: 'CMU Serif';
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #000000;
    align-items: center;
    height: 20px;
    padding: 10px 0;
}

.nav-center {
    width: 100%;
    text-align: center;
    margin-left: 26%;
    font-size: 30px;
}

.nav-center a {
    color: #fff;
}

.navbar a:hover {
    color: orange;
}

.nav-right {
    text-align: right;
    margin-right: 3.5%;
    width: 50%;
    padding-top: 1%;
}

.article-body {
    margin-top: 45px;
    margin-right: 20%;
    margin-left: 20%;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
    color: orange;

}

h2 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
}

.author {
    font-size: 1.2em;
}

#spotify {
    width: 60%;
    height: 115px;
    border: 1px solid #000000;
    border-radius: 12px;
}

.metadata-container {
    display: flex;
    justify-content: space-between;
}

.metadata-left {
    flex-grow: 1;
    /* Take up remaining space */
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
    .article-body {
        margin-top: 45px;
        margin-right: 4%;
        margin-left: 4%;
        font-size: 1.2em;
        text-align: justify;
    }

    .metadata-container {
        flex-direction: column;
    }

    .metadata-left {
        align-items: flex-start;
        order: 1;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #spotify {
        order: 2;
        width: 100%;
        height: 115px;
        border: 1px solid #000000;
        border-radius: 12px;
    }
}